# asm and LLVM IR (text)
*.ll
*.s

# objis
*.o
*.bc
# executables

# cmake build dirs
build*/
cmake-build-debug/*

#executables
example
a.out
*.out
*.out_original
IMB-ASYNC/src_cpp/IMB-ASYNC
IMB-ASYNC/IMB-ASYNC
IMB-ASYNC/IMB-ASYNC_orig

IMB-ASYNC/src_cpp/ASYNC/thirdparty

# output from job runs
job.err
job.out
IMB-ASYNC/err/
IMB-ASYNC/output/

# from ctest
*LastTest.log
Testing/Temporary

# backupo data from older measurements
visualization/mearurement_*.tar.gz
# more in visualization
output/
timing.csv
cache.csv
*.pdf

#IDE specific
.project
.cproject
.settings
.idea
.cache
*.kate-swp

# Nix result links
result*
